# keep members needed by base Imagine code

-keepclassmembers class com.imagine.BaseActivity
{
	void addNotification(java.lang.String, java.lang.String, java.lang.String);
	void removeNotification();
	com.imagine.TextEntry newTextEntry(java.lang.String, java.lang.String, int, int, int, int, int, long);
	android.bluetooth.BluetoothAdapter btDefaultAdapter();
	int btStartScan(android.bluetooth.BluetoothAdapter);
	void btCancelScan(android.bluetooth.BluetoothAdapter);
	android.bluetooth.BluetoothSocket btOpenSocket(android.bluetooth.BluetoothAdapter, java.lang.String, int, boolean);
	int btState(android.bluetooth.BluetoothAdapter);
	void btTurnOn();
	java.lang.String filesDir();
	java.lang.String cacheDir();
	java.lang.String extMediaDir();
	static java.lang.String extStorageDir();
	java.lang.String libDir();
	java.lang.String intentDataPath();
	boolean requestPermission(java.lang.String);
	void addViewShortcut(java.lang.String, java.lang.String);
	static java.lang.String devName();
	android.os.Vibrator systemVibrator();
	boolean packageIsInstalled(java.lang.String);
	int deviceFlags();
	int mainDisplayRotation();
	void enumDisplays(long);
	void enumInputDevices(long);
	void setUIVisibility(int);
	void setWinFlags(int, int);
	int winFlags();
	android.view.Window setMainContentView(long);
	void setSustainedPerformanceMode(boolean);
	android.media.AudioManager audioManager();
	void makeErrorPopup(java.lang.String);
	void openURL(java.lang.String);
	com.imagine.FontRenderer newFontRenderer();
	com.imagine.ChoreographerHelper choreographerHelper(long);
	com.imagine.InputDeviceListenerHelper inputDeviceListenerHelper(long);
	com.imagine.DisplayListenerHelper displayListenerHelper(long);
	com.imagine.MOGAHelper mogaHelper(long);
	com.imagine.PresentationHelper presentation(android.view.Display, long);
	com.imagine.StorageManagerHelper storageManagerHelper();
	android.graphics.Bitmap makeBitmap(int, int, int);
	boolean writePNG(android.graphics.Bitmap, java.lang.String);
	android.graphics.Bitmap bitmapDecodeAsset(java.lang.String);
	boolean openDocumentTree(long);
	boolean openDocument(long);
	#boolean createDocument(long); # currently unused
	int openUriFd(java.lang.String, int);
	boolean uriExists(java.lang.String);
	java.lang.String uriLastModified(java.lang.String);
	java.lang.String uriDisplayName(java.lang.String);
	boolean deleteUri(java.lang.String, boolean);
	boolean renameUri(java.lang.String, java.lang.String);
	boolean createDirUri(java.lang.String);
	boolean listUriFiles(long, java.lang.String);
}

-keepclassmembers class com.imagine.FontRenderer
{
	android.graphics.Bitmap bitmap(int, android.graphics.Paint, long);
	void metrics(int, android.graphics.Paint, long);
	android.graphics.Paint makePaint(int, boolean);
}

-keepclassmembers class com.imagine.ChoreographerHelper
{
	void postFrame();
}

-keepclassmembers class com.imagine.TextEntry
{
	void finish(boolean);
	void place(int, int, int, int);
}

-keepclassmembers class com.imagine.DisplayListenerHelper
{
	void setListener(boolean);
}

-keepclassmembers class com.imagine.MOGAHelper
{
	int getState(int);
	void onPause();
	void onResume();
	void exit();
}

-keepclassmembers class com.imagine.PresentationHelper
{
	void deinit();
}

-keepclassmembers class com.imagine.InputDeviceListenerHelper
{
	void register();
	void unregister();
}

-keepclassmembers class com.imagine.StorageManagerHelper
{
	void enumVolumes(android.app.Activity, long);
}

##---------------Begin: proguard configuration for Gson  ----------
# Gson uses generic type information stored in a class file when working with fields. Proguard
# removes such information by default, so configure it to keep all of it.
-keepattributes Signature

# For using GSON @Expose annotation
-keepattributes *Annotation*

# Gson specific classes
-dontwarn sun.misc.**
#-keep class com.google.gson.stream.** { *; }

# Prevent proguard from stripping interface information from TypeAdapter, TypeAdapterFactory,
# JsonSerializer, JsonDeserializer instances (so they can be used in @JsonAdapter)
-keep class * extends com.google.gson.TypeAdapter
-keep class * implements com.google.gson.TypeAdapterFactory
-keep class * implements com.google.gson.JsonSerializer
-keep class * implements com.google.gson.JsonDeserializer

# Prevent R8 from leaving Data object members always null
-keepclassmembers,allowobfuscation class * {
  @com.google.gson.annotations.SerializedName <fields>;
}

##---------------End: proguard configuration for Gson  ----------

##---------------Begin: proguard configuration for N64  ----------

-dontobfuscate

-keep, includedescriptorclasses class paulscode.android.mupen64plusae.jni.** { *; }

-dontwarn java.awt.event.*
-dontwarn java.awt.dnd.*
-dontwarn java.awt.*
-dontwarn javax.swing.*
-dontwarn javax.naming.InvalidNameException
-dontwarn javax.naming.NamingException
-dontwarn javax.naming.directory.Attribute
-dontwarn javax.naming.directory.Attributes
-dontwarn javax.naming.ldap.LdapName
-dontwarn javax.naming.ldap.Rdn
-dontwarn org.ietf.jgss.GSSContext
-dontwarn org.ietf.jgss.GSSCredential
-dontwarn org.ietf.jgss.GSSException
-dontwarn org.ietf.jgss.GSSManager
-dontwarn org.ietf.jgss.GSSName
-dontwarn org.ietf.jgss.Oid

-keep class com.sun.jna.* { *; }
-keepclassmembers class * extends com.sun.jna.** { public *; }
-keep class org.apache.http.** { *; }
-keep class org.eclipse.** { *; }
-keep class androidx.core.app.CoreComponentFactory { *; }
##---------------End: proguard configuration for N64  ----------

##---------------Begin: proguard configuration for MAME  ----------

-keep class com.seleuco.mame4droid.Emulator { *; }
##---------------End: proguard configuration for MAME  ----------

##---------------Begin: proguard configuration for dolphin  ----------
-dontobfuscate
##---------------End: proguard configuration for dolphin  ----------

##---------------Begin: proguard configuration for NDS  ----------
-keepclassmembers enum * { *; }

-keep class me.magnum.melonds.domain.model.RendererConfiguration { *; }
-keep class me.magnum.melonds.domain.model.FirmwareConfiguration { *; }
-keep class me.magnum.melonds.domain.model.EmulatorConfiguration { *; }
-keep class me.magnum.melonds.domain.model.AudioBitrate { *; }
-keep class me.magnum.melonds.domain.model.AudioInterpolation { *; }
-keep class me.magnum.melonds.domain.model.AudioLatency { *; }
-keep class me.magnum.melonds.domain.model.ConsoleType { *; }
-keep class me.magnum.melonds.domain.model.MicSource { *; }
-keep class me.magnum.melonds.domain.model.Cheat { *; }
-keep class me.magnum.melonds.ui.emulator.rewind.model.RewindSaveState { *; }
-keep class me.magnum.melonds.ui.emulator.rewind.model.RewindWindow { *; }
-keep class me.magnum.melonds.ui.settings.fragments.**
-keep class me.magnum.melonds.common.UriFileHandler {
    public int open(java.lang.String, java.lang.String);
}
##---------------End: proguard configuration for NDS  ----------
##---------------START: proguard configuration for LEM  ----------

## Options
-dontoptimize
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*,!code/allocation/variable
-keepattributes Signature,RuntimeVisibleAnnotations,AnnotationDefault
-keepattributes SourceFile,LineNumberTable,Signature,JavascriptInterface,Exceptions
-verbose

## Arch Components
-keep class * implements android.arch.lifecycle.GeneratedAdapter {<init>(...);}

## Fabric
-dontnote com.google.android.gms.**
-dontnote com.google.firebase.crash.FirebaseCrash

## Kotlin
-dontwarn kotlin.**
-dontnote kotlin.**
-dontwarn org.jetbrains.annotations.**
-keep class kotlin.Metadata { *; }
-keep class android.arch.lifecycle.**
-dontwarn kotlinx.coroutines.flow.**

## Okio
-dontwarn okio.**

## OkHttp
-dontwarn okhttp3.**
-dontwarn org.apache.harmony.xnet.provider.jsse.SSLParametersImpl
-dontnote com.android.org.conscrypt.SSLParametersImpl
-dontnote dalvik.system.CloseGuard
-dontnote sun.security.ssl.SSLContextImpl
-dontnote org.apache.harmony.xnet.provider.jsse.SSLParametersImpl
-dontnote org.conscrypt.ConscryptEngineSocket

## Retrofit
-dontwarn retrofit2.Platform$Java8

## Moshi
-dontnote sun.misc.Unsafe

## Google API
-dontwarn com.google.api.client.json.jackson2.JacksonFactory
-keepclassmembers class * {
  @com.google.api.client.util.Key <fields>;
}

## Guava
-dontnote com.google.appengine.api.ThreadManager
-dontnote com.google.apphosting.api.ApiProxy
-dontwarn java.lang.ClassValue
-dontwarn com.google.j2objc.annotations.Weak
-dontwarn org.codehaus.mojo.animal_sniffer.IgnoreJRERequirement
-dontwarn org.apache.commons.codec.binary.Base64
-dontwarn org.apache.commons.codec.binary.StringUtils

## Retrograde
-keep class **.model.**
-keepclassmembers class **.model.** {
  <init>(...);
  <fields>;
}

## Misc
-dontwarn com.uber.javaxextras.**
-dontwarn java.lang.management.**
-dontwarn javax.annotation.**
-dontwarn javax.inject.**
-dontwarn junit.**
-dontwarn com.google.errorprone.**
-dontnote android.net.http.*

## Kotlin serialization
-keepattributes *Annotation*, InnerClasses
-dontnote kotlinx.serialization.SerializationKt
-keep,includedescriptorclasses class com.swordfish.lemuroid.**$$serializer { *; }
-keepclassmembers class com.swordfish.lemuroid.** {
    *** Companion;
}
-keepclasseswithmembers class com.swordfish.lemuroid.** {
    kotlinx.serialization.KSerializer serializer(...);
}

## LibretroDroid
-keep class com.swordfish.libretrodroid.** { *; }
##---------------END: proguard configuration for LEM  ----------
-keepattributes SourceFile,LineNumberTable        # Keep file names and line numbers.
-keep public class * extends java.lang.Exception  # Optional: Keep custom exceptions.